node_modules/
deployment/
build/
.vscode/
coverage/
*.DS_Store
serviceWorker.js
config-overrides.js
babel.config.js
jest.config.js
jest.setup.ts
report.json
test-report.xml
webpack.base.js
webpack.dev.js
webpack.prod.js
webpack/
package-lock.json

src/__mocks__
